@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL LAYOUT */

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    height: 33px;
    font-size: 25px;
    margin: 15px;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4%;
    row-gap: 20px;
}

/* CARD (USADA EN TODOS LOS ITEMS) */

.cards {
    width: 33.3%;
    height: 350px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
    z-index: 1;

    /* adaptar a <Link> */
    text-decoration: none;
    color: inherit;
}

.cards:hover {
    transform: scale(1.02);
}

/* NOMBRE DEL ITEM (universal) */

.item-name-bg {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.item-title {
    font-family: 'Roboto', sans-serif;
    color: gold;
    font-size: 1rem;
}

/* MODAL UNIVERSAL */

.modal {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 3;
}

.modal-content {
    width: 25vw;
    height: auto;
    background-color: #0d0d0d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 10px;
    align-items: center;
}

.item-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: 50% 10%;
    background-size: cover;
}

.item-details {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: gold;
}

/* PAGINATION */

.buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

button {
    width: 70px;
    height: 25px;
    background-color: gold;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.3s;
}

button:hover {
    background-color: #000;
    color: gold;
}

#back-button,
#next-button {
    visibility: hidden;
}

/* RESPONSIVE */

@media (max-width: 990px) {
    .cards { width: 40%; height: 350px; }
    .modal-content { width: 40%; }
    .item-details { font-size: 0.9rem; }
}

@media (max-width: 750px) {
    .cards { width: 70%; height: 400px; }
    .modal-content { width: 50%; }
    .item-details { font-size: 0.9rem; }
    .main-container{padding-top: 0;}
    .main-content{margin-top: 70px;}
}

@media (max-width: 500px) {
    h2 {
        width: 100%;
        height: 40px;
        font-size: 1.8rem;
        text-align: center;
        margin: 0 5px;
        background: rgba(15, 23, 42, 0.7);
        backdrop-filter: blur(2px);
        position: fixed;
        z-index: 3;
    }
    .modal-content { width: 75%; }
    .item-details { font-size: 0.9rem; }

    .cards {
      width: 75%;
      height: 250px;
    }

    .buttons{
        margin: 30px 0 15px 0;
    }
}

