@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */


.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 45px;
    z-index: 1000;
}

/* .logo {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    margin-top: 2px;
    width: 30%;
    height: auto;
} */

/* NAV-DESKTOP */

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
}

.nav-item{
    text-decoration: none;
    color:white;
    font-weight: 500;   
    position: relative;
    padding: 0.5rem 0;
}

.nav-item::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, gold, goldenrod);
    transition: width 0.5s ease;
} 

.nav-item:hover{
    color: gold;
}

   
.nav-item:hover::after{
    width: 100%;
}

.nav-item.active {
    font-size: 18px;
    color: gold;
    font-weight: 700;
}



.social-media {
    padding-left: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

i {
    font-size: 1.2rem;
}

i:hover{
    color: gold;
}

/* MENU */

/* a {
    text-decoration: none;
}

.sidebar {
    top: 1px;
    position: fixed;
    left: -250px;
    width: 250px;
    transition: all .5s ease;
    z-index: 4;
    height: auto;
    opacity: 95%;
    border-bottom-right-radius: 5%;
    overflow: hidden;
} */

/* .sidebar h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: white;
    text-align: center;
    line-height: 45px;
    background: rgba(15, 23, 42, 1);
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar h1:hover {
    color: gold;
} */

/* .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    background: rgba(15, 23, 42, 0.98);
}

.menu-btn {
    z-index: 5;
    position: fixed;
}

.sidebar     ul li:hover a {
    padding-left: 50px;
    color: gold;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;

}

label #btn {
    align-items: center;
    left: 35px;
    top: 6px;
    font-size: 1.5rem;
    color: white;
    padding: 0;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 10px;
    font-size: 1.5rem;
    color: white;
    padding: 0;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#btn:hover{
    color: gold;
}

#cancel:hover{
    color: gold;
}

#check:checked ~ label #cancel {
    left: 195px;
}

.sidebar i:hover {
    color: gold;
} */


/* HOME */

.content-container{
    padding: 5rem 2rem 3rem;
}

.container {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1200px;
}

.col {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #ffffff0d;
    border: 1px solid #ffffff1a;
    border: 1px solid #ffffff1a;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease;
    text-align: center;
}

.col:hover{
    transform: scale(1.02);
}

.col-imagem {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.col-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-decoration: none;
}

.col-title:hover{
    color: gold;
} 


/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 15px;
}

.copyrigth {
    font-weight: 500;
}

.copyrigth:hover {
    color: gold;
}

footer p{
    font-size: 1rem;
    text-align: center;
}
 footer a{
    text-decoration: none;
 }

@media (max-width: 990px) {
}

@media (max-width: 750px) {
    .navegacao{
        display: none;
    }
    footer{
        margin: 15px 7px;
        width: auto;
    }
}



@media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
}

@media (min-width: 751px) {
    .nav-mobile{
        display: none;
    }
}