/* HOME */

.content-container{
    padding: 5rem 2rem 3rem;
}

.container {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 100%;
}

.col {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #ffffff0d;
    border: 1px solid #ffffff1a;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease;
    text-align: center;
}

.col:hover{
    transform: scale(1.02);
}

.col-imagem {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.col-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-decoration: none;
}

.col-title:hover{
    color: gold;
} 
