/* HOME */

.content-container {
  padding: 2rem 2rem 4rem;
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


.cards-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto;
  max-width: 900px;
}

.col {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #ffffff0d;
    border: 1px solid #ffffff1a;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease;
    text-align: center;
}

.col:hover{
    transform: scale(1.02);
}

.col-imagem {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.col-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-decoration: none;
}

.col-title:hover{
    color: gold;
} 


@media (max-width: 750px) {
    .cards-page{
        grid-template-columns: 1fr;
        max-width: 25rem;
    }

    .col-title{
        font-size: 1.2rem;
    }
}

@media (max-width: 500px){
    .col-imagem {
    height: 250px;
    width: 100%;
    }
}