/* @import url('https://fonts.cdnfonts.com/css/star-wars'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

#root {
  position: relative;
  margin: 0;
}

#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/fundo.png.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(0.6);
}